<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
 <link href="css/styles.css" rel="stylesheet" type="text/css">
 <script src="js/jquery-3.2.0.js"></script>
 <script src="js/scripts.js"></script>

 <form action="/result">
  <div class="form-group">
    <label for="player1">Player 1 Choose Rock, paper or scissors</label>
    <input type=class="form-control" name='player1'>
    <label for="player2">Player 2 Choose Rock, paper or scissors</label>
    <input type= class="form-control" name='player2'>
    <button type="submit" name="button">Submit</button>
  </div>
</form>
<br>
<br>
<br>
